# Ignorar archivos de MySQL y bases de datos
/db-mysql/schema/mysql.sock
/db-mysql/schema/*.pid
/db-mysql/schema/*.log
/db-mysql/schema/*.cnf
/db-mysql/schema/*.err
/db-mysql/schema/ib_*
/db-mysql/schema/binlog.*

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de entorno
.env
.env.local

# Ignorar dependencias y archivos de compilación
/node_modules/
/dist/
/build/

# Ignorar archivos de IDEs
*.vscode*
*.idea*
*.iml